{{#if user.bio}}
    <blockquote class="flow-text">{{user.bio}}</blockquote>
    <form method="POST" action="account" class="hidden">
        <textarea id="bio-input" class="materialize-textarea" name="bio" value={{user.bio}}></textarea><br>
        <input type="submit" class="btn" value="Update Profile">
    </form>
    <div id="update-btn">
        <button class="btn">Update</button>
    </div>
    <script>
        function toggleForm() {
            this.classList.toggle('hidden');
            document.querySelector('form').classList.toggle('hidden');
            document.querySelector('blockquote').classList.toggle('hidden');
        }
        document.getElementById('update-btn').addEventListener('click', toggleForm);
        document.querySelector('input').addEventListener('click', toggleForm);
    </script>
{{else}}
    <h4>Introduce yourself!</h4>
    <form method="POST" action="account">
        <textarea id="bio-input" class="materialize-textarea" name="bio"></textarea><br>
        <input type="submit" class="btn" value="Update Profile">
    </form>
{{/if}}