<h3>Add a trip</h3>
<form method="POST" action="add">
	<div>
		<label for="place">Place:</label>
		<input type="text" id="place" name="place" value="">
	</div>
	<div>
		<label for="desc">Description:</label>
		<textarea name="desc" id="desc"></textarea>
	</div>
    <div id="radio-list">
        <label>Your trip is...</label>
		<p>
			<label>
				<input class="with-gap" name="tripType" value= "planned" type="radio" checked />
				<span>Planned</span>
			</label>
		</p>
		<p>
			<label>
				<input class="with-gap" name="tripType" value= "completed" type="radio"/>
				<span>Completed</span>
			</label>
		</p>
		{{!-- <input type="radio" name="tripType" value="planned" checked><label for="planned">Planned</label>
        <input type="radio" name="tripType" value="completed"><label for="completed">Completed</label> --}}
	</div>
	{{!-- <p>Upload an image of your trip</p><input type="file" name="pic" id="pic"><br><br> --}}
	<input type="submit" class="btn green" value="Add">
</form>