<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<a href="/">Home</a><br>
	{{#if user}}
		Welcome, {{user.username}}!
	{{else}}
		<a href="/login">Login</a><br>
		<a href="/register">Register</a><br>
	{{/if}}
	{{{ body }}}
</body>
</html>
