<h3>Register</h3>
{{#if message}}
    <div class="error">{{ message }}</div>
{{/if}}

<form method="POST" action="register" class="short-form">
    <div>
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>
	<div>
		<label for="password">Password:</label> 
		<input type="password" name="password" value="">
	</div>
	<div>
		<input type="submit" class="btn green" value="Register">
	</div>
</form>